$background: #202124; 
$leghtBackground: #27272A;
$grayText: #A1A1AA;
$stroike: #414144;

@import "____initialStyle";
@import "___header";
@import "___nav";
@import "__main";
@import "_footer";
@import "_fonts";
@import "__projectList";
@import "__mainProject";